<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mego</title>
    <link rel="stylesheet" type="text/css" href="frontpage.css">
  </head>
  <body>

    <a id="login-button" href="/login">LOGIN</a>
    <footer>
      <ul id="footer-nav-container">
        <li>About Mego</li>
        <li>Help</li>
        <li>Policy</li>
      </ul>
    </footer>
  </body>
</html>
