@font-face {
    font-family: myFirstFont;
    src: url(./fonts/ElegantIcons.woff);
}

body {
  margin: 0px;
  background-color: rgb(251, 251, 251);
}

/*header*/

.header-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: rgb(208, 225, 225);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;
}

.header-link {
  text-decoration: none;
  margin-left: 20px;
}

#add-memory {
  font-family: myFirstFont;
  font-size: 20px;
  text-decoration: none;
}

/*forms*/

.form-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container label {
  flex: 1;
}

.input-container input[type="email"], input[type="password"] {
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  flex: 2;
  background-color: rgb(255, 255, 255);
}

.input-container-button {
  display: flex;
  justify-content: flex-end;
}

/*user info*/

.user-info-container {
  display: flex;
  max-width: 800px;
  margin: auto;
}


.expand {
  height:auto;
  max-height:1000px;
  overflow:hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  transition-delay: 0.25s;
}

.collapse {
  max-height:0px;
  overflow:hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
