@font-face {
    font-family: myFirstFont;
    src: url(./fonts/ElegantIcons.woff);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: rgb(251, 251, 251);
  color: rgb(20, 31, 31);
}

h3 {
  margin-top: 0px;
}

#edit-user-button {
  text-decoration: none;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
}

/*header*/

.header-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: rgb(208, 225, 225);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;
}

.header-link {
  color: rgb(20, 31, 31);
  text-decoration: none;
  margin-left: 20px;
}

#add-memory {
  color: rgb(20, 31, 31);
  font-family: myFirstFont;
  font-size: 20px;
  text-decoration: none;
}

/*avatar*/

#avatar {
  padding: 1px;
  border: solid 1px rgb(208, 225, 225);
}

/*forms*/

.form-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container label {
  flex: 1;
}

.input-container input[type="email"], input[type="password"] {
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  flex: 2;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.input-container input[type="email"]:focus, input[type="password"]:focus  {
  border: 1px solid #555;
  border-radius: 3px;
}

.input-container-button {
  display: flex;
  justify-content: flex-end;
}

/*user info*/

.user-info-container {
  display: -webkit-flex;
  display: flex;
  max-width: 800px;
  margin: auto;
}

.user-info-container div {
  flex: 1;
}

/*Edit user form*/

.edit-user-container {
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  border: solid 1px rgb(208, 225, 225);
  border-radius: 2px;
  padding: 30px 10px;
}

.edit-user-container button {
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
}

.edit-form-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.edit-form-row {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-form-column-label {
  flex: 1;
}

.edit-form-column-label label {
  margin-left: 100px;
  font-weight: bold;
}

.edit-form-column-input {
  margin-bottom: 10px;
  flex: 2;
}

.edit-form-column-input input {
  width: 400px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

/*memories list*/

.memories-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}

.memory-item {
  max-width: 28%;
  margin: 10px;
  padding: 5px 10px;
  border: solid 1px rgb(208, 225, 225);
}

.memory-item img {
  max-width: 100%;
}

/*add Memeroy*/

.add-memory-container {
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  border: solid 1px rgb(208, 225, 225);
  border-radius: 2px;
  padding: 20px 10px;
}

.add-memory-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.add-memory-column-label {
  margin-bottom: 10px;
  flex: 1;
}

.add-memory-column-input {
  margin-bottom: 10px;
  flex: 2;
}

.add-memory-column-label label {
  margin-left: 100px;
  font-weight: bold;
}

.add-memory-column-label input {
  margin-left: 100px;
}

.add-memory-column-input input {
  width: 400px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.add-memory-row button {
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
}

.add-memory-column-input textarea {
  width: 400px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  resize: vertical;
}

/*.expand {
  height:auto;
  max-height:1000px;
  overflow:hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  transition-delay: 0.25s;
}

.collapse {
  max-height:0px;
  overflow:hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}*/
