@font-face {
    font-family: myFirstFont;
    src: url(./fonts/ElegantIcons.woff);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: rgb(251, 251, 251);
  color: rgb(20, 31, 31);
}

h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

#edit-user-button {
  text-decoration: none;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  font-size: 14px;
  line-height: 26px;
}

/*frontpage*/


#frontpage-body {
  padding-top: 20vh;
  width: 100%;
  height:80vh;
  font-family: 'Open Sans', sans-serif;
  background: url(background-image.jpg);
  background-size: 1500px;
}

footer {
  height: 30px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#footer-nav-container {
  color: white;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

#footer-nav-container li {
  margin-right: 40px;
  font-size: 10px;
}

#login-button {
  font-size: 12px;
  position: absolute;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 14px;
  background: rgb(255, 255, 255);
  border: solid 1px rgb(208, 225, 225);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
  right: 40px;
  top: 40px;
}

/*header*/

.header-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-bottom: solid 1px rgb(208, 225, 225);
  border-bottom-width: 1px;
  margin-bottom: 40px;
}

.header-link {
  color: rgb(20, 31, 31);
  text-decoration: none;
  margin-left: 20px;
}

#add-memory {
  color: rgb(20, 31, 31);
  font-family: myFirstFont;
  font-size: 20px;
  text-decoration: none;
  border: none;
  padding: none;
  background: none;
}

#add-memory:hover {
  cursor: pointer;
}

/*add-bar*/

.add-bar-container {
  margin-left: 20px;
}

.add-bar-menu {
  position: absolute;
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px;
}

.add-bar-menu li {
  background-color: white;
  padding: 5px;
  margin-bottom: 3px;
  border: solid 1px rgb(208, 225, 225);
}

.menu-link {
  color: rgb(20, 31, 31);
  text-decoration: none;
}

/*avatar*/

#avatar {
  max-width: 200px;
  border: solid 1px rgb(208, 225, 225);
  margin-bottom: 10px;
}

#avatar-save-button {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.ReactCrop {
  margin-bottom: 5px;
}

/*input file*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  display: block;
  width: 100%;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.file-holder {
  width: 100%;
}

/*forms*/

.form-container {
  max-width: 275px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(208, 225, 225);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 80px 50px;
}

.form-title {
  text-align: center;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container label {
  flex: 1;
}

.input-container input[type="email"], input[type="password"] {
  border: solid 1px;
  border-color: white;
  border-radius: 3px;
  flex: 2;
  background-color: rgb(240, 240, 240);
  padding: 8px 10px;
}

.input-container input[type="email"]:focus, input[type="password"]:focus  {
  border: 1px solid #555;
  border-radius: 3px;
}

.input-container input[type="submit"] {
  flex: 1;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 26px;
}

.input-container input[type="submit"]:hover {
  cursor: pointer;
  flex: 1;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 26px;
}

.form-bottom-text {
  text-align: center;
  font-size: 12px;
  color: rgb(208, 225, 225);
}

.form-bottom-text-link {
  text-align: center;
  font-size: 12px;
  color: rgb(190, 190, 190);
  text-decoration: none;
  font-weight: bold;
}

/*TimeLine*/

.time-line-container {
  max-width: 1200px;
  margin: auto;
}

.time-item-row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgb(208, 225, 225);
  margin-bottom: 10px;
}

.time-item-row:hover {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgb(56, 151, 240);
}

.item-image {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.item-image img {
  margin: auto;
  height: 100%;
}

.item-date {
  font-size: 10px;
}

.achieved-true {
  color: #20df80;
  font-family: myFirstFont;
  font-size: 32px;
  margin-top: 8px;
}

.achieved-true:hover {
  cursor: pointer;
}

.achieved-false {
  color: rgb(208, 225, 225);
  font-family: myFirstFont;
  font-size: 32px;
  margin-top: 8px;
}

.achieved-false:hover {
  cursor: pointer;
}

/*user info*/

.user-info-container {
  display: -webkit-flex;
  display: flex;
  max-width: 800px;
  margin: auto;
}

.user-info-container div {
  flex: 1;
}

/*input-layout*/

.input-layout-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  box-shadow: 0 2px 10px rgba(0,0,0,0.45);
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  border: solid 1px rgb(208, 225, 225);
  border-radius: 5px;
  padding: 80px 50px;
}

.input-layout-container button {
  flex: 1;
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
}

.input-layout-row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-layout-column-label {
  flex: 3;
}

.input-layout-column-label label {
  font-weight: bold;
}

.input-layout-column-input {
  margin-bottom: 10px;
  flex: 7;
}

.input-layout-column-input input {
  width: 85%;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.input-layout-column-input textarea {
  resize: none;
  width: 85%;
  height: 75px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

/*memories list*/

.memories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}

.memory-item {
  max-width: 28%;
  margin: 10px;
  padding: 5px 10px;
  border: solid 1px rgb(208, 225, 225);
}

.memory-item img {
  max-width: 100%;
}

/*add Memeroy*/

.add-memory-container {
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  border: solid 1px rgb(208, 225, 225);
  border-radius: 2px;
  padding: 40px 10px;
}

.add-memory-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.add-memory-column-label {
  margin-bottom: 10px;
  flex: 1;
}

.add-memory-column-input {
  margin-bottom: 10px;
  flex: 2;
}

.add-memory-column-label label {
  margin-left: 100px;
  font-weight: bold;
}

.add-memory-column-label input {
  margin-left: 100px;
}

.add-memory-column-input input {
  width: 400px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
}

.add-memory-row button {
  background-color: rgb(56, 151, 240);
  border: solid 1px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
}

.add-memory-column-input textarea {
  width: 400px;
  border: solid 1px;
  border-color: rgb(208, 225, 225);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  resize: vertical;
}

/*.expand {
  height:auto;
  max-height:1000px;
  overflow:hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  transition-delay: 0.25s;
}

.collapse {
  max-height:0px;
  overflow:hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}*/
